@import "~materialize-css/dist/css/materialize.min.css";


input.authInput{
    border-bottom: 1px solid #ffffff!important;
    box-shadow: 0 1px 0 0 #ffffff!important;
}

input.authInput + label {
    color: #ffffff!important;
}

input.authInput:focus + label {
    color: #ffffff!important;
}

input.authInput:focus{
    border-bottom: 1px solid #ffffff!important;
    box-shadow: 0 1px 0 0 #ffffff!important;
}
